extends layout
block content

    nav(nav class="navbar navbar-dark bg-dark")
      a(class="navbar-brand" href="/"  text-align='center')="Aplikacja zaliczeniowa"
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div( class="collapse navbar-collapse", id="navbarSupportedContent")
          li(class="nav-item")
             a(class="nav-link" href="/logowanie")="logowanie"
          li(class="nav-item")
             a(class="nav-link" href="/students_status/list")="Lista studentów"
          li(class="nav-item")
             a(class="nav-link" href="/students_status/add")="Dodaj studenta"

  
    form(action='/students_status/list', method='get', class='form-signin')
        h3(class="h3 mb-3 font-weight-normal")="Zaloguj się"
        label(for="inputEmail")="Login" 
        input(type="text" name="username", id="inputEmail", class="form-control", placeholder="login", required)
        label(for="inputPassword")="Hasło"
        input(type="password", name="password", id="inputPassword", class="form-control", placeholder="Hasło", required)
        input(type="submit", value="Zaloguj", class="btn btn-sm btn-basic")
        
