extends layout
block content

    nav(nav class="navbar navbar-dark bg-dark")
      a(class="navbar-brand" href="/"  text-align='center')="Aplikacja zaliczeniowa"
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div( class="collapse navbar-collapse", id="navbarSupportedContent")
          li(class="nav-item")
             a(class="nav-link" href="/logowanie")="logowanie"
          li(class="nav-item")
             a(class="nav-link" href="/students_status/list")="Lista studentów"
          li(class="nav-item")
             a(class="nav-link" href="/students_status/add")="Dodaj studenta"

    h1= title
    p
        form(method='POST', action='add')
            label(for='imie') Imie:
            input(type='text', name='imie')
            label(for='nazwisko') Nazwisko:
            input(type='text', name='nazwisko')
            input(type="submit", value="Dodaj nowego studenta", class="btn btn-sm btn-primary")
